<h2>New Comment</h2>
<form action="" name="thecomment" id="thecomment">
	<label>Username</label><br />
	<input type="text" name="username" id="username"><br />
	<label>Comment</label><br />
	<textarea rows="20" cols="20" name="comment" id="comment" value=""></textarea><br />
	<input type="hidden" name="sentence_id" id="sentence_id" value="<%= params[:sentence_id] %>">
	<input type="hidden" name="paper_id" id="paper_id" value="<%= @paper %>"
	<input type="submit" id="commentSubmit" value="Thank you." />
</form>

<script type="text/javascript">
	$('#commentSubmit').click(function(){
		console.log("here");
		$('#mynewcomment').slideUp('slow');
		$.post("/postcomment", $("#thecomment").serialize());
		
        return false;
		$('/newcomment').unload( function () { alert("Bye now!"); } );

	});
</script>