<h2>New Comment</h2>
<form action="" name="thecomment" id="thecomment">
	<label>Username</label><br />
	<input type="text" name="username" id="username"><br />
	<label>Comment</label><br />
	<textarea rows="20" cols="20" name="comment" id="comment" value=""></textarea><br />
	<input type="hidden" name="sentence_id" id="sentence_id" value="<%= params[:sentence_id] %>">
	<input type="hidden" name="paper_id" id="paper_id" value="<%= @paperpage.to_s %>">
	<input type="submit" id="commentSubmit" value="Thank you." />
</form>

<script type="text/javascript">
	// attach a submit handler to the form
	 	$(function() {
		$('#commentSubmit').click(function() {
			//$('#container').append('<img src="img/loading.gif" alt="Currently Loading" id="loading" />');
			
			

			var username = $('#username').val();
			var comment = $('#comment').val();
			var sentence_id = $('#sentence_id').val();
			var paper_id = $('#paper_id').val();

			$.ajax({
				url: '/receivedcomment',
				type: 'POST',
				data: 'username=' + username + '&comment=' + comment + '&sentence_id=' + sentence_id + '&paper_id=' + paper_id,

				success: function(result) {
					$('#mynewcomment').slideUp('fast');
					$('#' + sentence_id).after('<span class="comment ' + sentence_id + '">' + comment + '</span>');
					console.log('just added comment');
					$('#' + sentence_id).after('<a href="#" class="marker">*</a>');
					
					$('#loading').fadeOut(500, function() {
					console.log('about to remove');
					$('#mynewcomment').remove();
					
					});
				}
			});

			return false;
		});
		//console.log('all finished with the submission!');
	  });
	
</script>