<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<title>The Site</title>
		<script type="text/javascript" src="/js/jquery-1.5.min.js"></script>		
		<!-- HTML5 Shim, IE8 and bellow recognize HTML5 elements -->
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->		
		<!-- Modernizr -->
		<script src="/js/modernizr-1.5.min.js"></script>

		<link rel="stylesheet" href="/ui-themes/aristo/jquery.ui.all.css"> 
		<script src="/js/jquery-ui-1.8.5.min.js"></script>

		
		<script type="text/javascript">
			$ (function(){
				
				//IF SPAN EXISTS, SHOW ASTERISK
				$('.comment').before('<a href="#" class="marker">*</a>');
				//COMMENT 
				
				//COMMENTS APPEAR AND DISAPPEAR WITH CLICK OF ASTERISK
				$('.marker').click(function(){
					//if the display is none
					var comments_seen = $('.comment').css('display');
					if (comments_seen == 'none') {
						$('.comment').slideDown('slow').css("display","block");
					} else {
						$('.comment').slideUp('slow');
						//$('.comment').css("display","none");
					}
				});
				
				//COMMENT WORD COUNT
				//split up the words
				var words = $('.comment').text().split(" ");
				//count the words in a comment.
				var wordcount = words.length;
				//show the # of words in a comment at the end?
				//$('#thework p').append("<p class="wc">There are " + wordcount + "words in the comment.</p>");
				//WOOHOO!! So, no need to show it, but will be useful for Minimum length.
				//HIDE SHORT COMMENTS
				//currently set at 25 words or less.
				$('#short_comments').delegate("input:checkbox", "click", function(){		
					//jQuery.each('.comment', function() {
					  
					
					
						if (this.checked == true) {
							var comments_seen = $('.comment').css('display');
						
							if (comments_seen == 'none') {
								console.log('comment cannot be seen');
							} else {
								console.log('i can be seen');
								if (wordcount > 25) {
									console.log('im greater than 25 words and visible');
								
								} else {
									console.log('im more than 25 and visible');
									$('.comment').slideUp('slow');
								}
								//console.log('i am not hit');
								//$('.comment').toggle('slow');
							}
					 		//console.log('Ive been hit');
					 	} else {
				 	
					 	}
					//});
				});
				
				//PAGE_ID JQUERY VARIABLE
				var myPage = <%= @paper.id.to_s %>;
				//DEPRECATION ISSUE - DEBUG LATER
				
				//ANNOTATION TOGGLE
				var commentOn = false;
				
				$('#annotation a').click(function(){
					$('#annotation p').toggle();
					commentOn = true;
					//DO THE REST IN SINATRA
				});			
				
				//NEW COMMENT
				// $('#newcmt').click(function(){
				$('.sentence').click(function(){
					if( !$('#thecomment').is(':visible') ) {
						// it's not visible,
						if (commentOn == true){
							var sent_id = $(this).attr("id");
							$(this).after('<span id="mynewcomment"></span>');
							var new_cmt_seen = $('#mynewcomment').css('display');
							//find .visible instead of .css(display)
							if (new_cmt_seen == 'none') {
								$('#mynewcomment').slideDown('fast').css("display","block"); //show()
							} else {
							}
							console.log("about to load new comment" + sent_id);
							//load the newCommment page with sentence id & paper_id
							//not sure if it's necessary to load the sentence and 
							//paper id anymore.
							$('#mynewcomment').load('/newcomment/' + sent_id + '&paper_id=' + <%= @paper.id.to_s %>);   
						}
					} else {
					    // it's visible so do nothing
					}
				});

				
				//ADD BUTTONS TO CONTRIBUTORS
				$('#contributors ul li').append('<img class="mute" src="/img/mute.png" /><img class="solo" src="/img/solo.png" />');
				
				//SOLO BUTTON FUNCTIONALITY
				//see mute button
				
				//MUTE BUTTON FUNCTIONALITY
				//var contributors = $('#contributors ul li').text();
				//var contributors = $('#contributors .mute').parent().text(); 
				//alert(contributors);
				$('#contributors .solo').click(function(){
					var the_contributor = $(this).parent().text(); 
					var cont_span = $('#thework span');
					var contributed = cont_span.attr('class');
					alert(the_contributor); 
					alert(contributed);
					//var myArray = $(contributed.indexOf(the_contributor) != -1);
					//alert(myArray);
					//if (myArray == true){
					//	$(this).slideDown('slow').css("display","block");
					if (contributed.indexOf(the_contributor) != -1) {
						//alert('gotcha');
						//for each of these 
						$(this).slideDown('slow').css("display","block");
						//CONTRIBUTED IS THE CLASS NOT HTE SPAN SO IT WON'T WORK
						//alert('i made it!');
						//var contribution_seen = $(this).css('display');
						//if (contribution_seen == 'none') {
						//	contribution_seen.slideDown('slow').css("display","block");
						//	alert('finished');
						//} else {
							//$('.comment').slideUp('slow');
							//$('.comment').css("display","none");
					} else {
						//$(this).css("display","none"); 
					}
					//var solo_li = $(this).parent('id');
					//alert(solo_li);
					//change dislay to none .slide down where 
					//where ('#thework').attr("class") == the id of the #contributor ul li that contains this .solo...the parent id?
				});
			});
		</script>
		
		<link rel="stylesheet" type="text/css" href="/css/my.css" />
	</head>
	<body>
		<div id="container">
			<div id="login_work">
				<div id="login">
					<% if session["current_user"] %>
						<a href="/login">Log Out</a>
					<% else %>
						<% unless @login %>
							<a href="/login">Log In!</a>
						<% end  %>
					<% end %>
				</div>
				<div class="clear"></div>
				<div id="thework">
					<%= yield %>
				</div>
			</div>
			<div id="sidebar">
				
				<div id="logo">
					<h1>EXEgist</h1>
				</div>
				<div id="annotation">
					<a href="#">
						<p>Read Comments</p>
						<p style="display:none">Add a Comment</p>
						</a>
				</div>
				<div id="comment_depth">
					<h3>Comment Depth</h3>
					<form>
						<input type="number" name="numeric-spinner" id="numeric-spinner" value="2" min="0">
					</form>
				</div>
				<div class="clear"></div>
				<div id="comment_length">
					<h3>Comments Length</h3>
					<form id="short_comments">
						<input type="checkbox" name="shrt_comments" value="shrt_comments" />25 Word Minimum<br />
					</form>
					<!-- <label for="amount">Minimum:</label>
										<input type="range" name="range-slider" id="range-slider" class="slider" min="0" max="100" step="1" value="25"> -->
				</div>
				<div class="clear"></div>
				<div id="contributors">
									<h3>Contributors</h3>
									<ul>
										<li id="cshirky">cshirky</li>
										<li>tomberenger</li>
										<li>dreamsverse</li>
										<li>baltarismyhomeboy</li>
									</ul>
								</div>
			</div> <!--END OF SIDEBAR-->
			
		</div><!--END OF CONTAINER-->
	</body>
</html>