<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<title>EXEgist</title>
		<script type="text/javascript" src="/js/jquery-1.5.min.js"></script>		
		<!-- HTML5 Shim, IE8 and bellow recognize HTML5 elements -->
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->		
		<script src="/js/modernizr-1.5.min.js"></script>

		<link rel="stylesheet" href="/ui-themes/aristo/jquery.ui.all.css"> 
		<script src="/js/jquery-ui-1.8.5.min.js"></script>
				
		<script type="text/javascript">
					
			// if(!console){
			// 				console = {
			// 					log : function(){}
			// 				}
			// 				
			// 			}
			
			$(function(){
				
				/*	Setup variables
				_______________________________________________________________________________ */
				
				var commentOn = true;
				
				/*	Toggle annotation link
				_______________________________________________________________________________ */
				
				$('#annotation a').click(function()
				{
					$('#annotation p').toggle();
					
					if (commentOn == true) 
					{
						commentOn = false;
						$('#mynewcomment').slideUp();
					} 
					else 
					{
						commentOn = true;
					}
					
					return false;
				});
				
				/*	Function to show the comment form
				_______________________________________________________________________________ */
				
				function showCommentForm(clicked)
				{
					var thetitle = clicked.attr('title');
					
					if( !$('#thecomment').is(':visible') ) 
					{
						if (commentOn == true){
							var sent_id = clicked.attr("id"); 
							var par_id = clicked.attr("name");
							clicked.after('<span id="mynewcomment"></span>');
							var new_cmt_seen = $('#mynewcomment').css('display');
							
							if (new_cmt_seen == 'none') 
							{
								$('#mynewcomment').slideDown('fast').css("display","block"); //show()
							} 
							
							$('#mynewcomment').load('/newcomment/' + sent_id + '&parent_type=' + thetitle + '&parent_id=' + par_id);  
						}
					} 
					else {
					    // it's visible so do nothing
					}
				}
				
				/*	Function to show all comments on a sentence
				_______________________________________________________________________________ */
				
				function revealCommentList(clicked)
				{
					var f = clicked.nextUntil('.sentence','.comment');
			
					var comments_seen = $(f).css('display');
					
					if (comments_seen == 'none') 
					{
						$(f).slideDown('slow').css("display","block");	
					} 
					else 
					{
						$(f).slideUp('slow');
					}
				}
								
				/*	Main click event for sentences
				_______________________________________________________________________________ */
				
				$('.marker, .sentence').click(function(){
					if(commentOn)
					{
						showCommentForm($(this));
					}
					else
					{
						revealCommentList($(this));
					}
					
					return false;
				});
				
			
				//HIDE SHORT COMMENTS
				//currently set at 25 words or less.
				function hideMyComments() {
					//console.log('hide my comments');
					//console.log(this);
					var e = $("#"+this[0]);
					var words = e.text().split(" ");
					var wordcount = words.length;
					//console.log(e);
					//console.log(wordcount);
					var comments_seen = e.css('display');
					if (comments_seen == 'none') {
						//console.log('comment cannot be seen');
							
					} else {
						//console.log('i can be seen');
						
						 if ( wordcount < 25 ) {
							//console.log('less than 25 visible');
						 	e.slideUp('slow');						 				 	
						} else { 
							//console.log('more than 25');
						}
					}
				}
				//SHOW SHORT COMMENTS
				function showMyComments() {
					console.log('show my comments');
					console.log(this);
					
					var e = $("#"+this[0]);
					var words = e.text().split(" ");
					var wordcount = words.length;
					console.log(e);
					var comments_seen = e.css('display');
					if (comments_seen == 'none') {
						console.log('comment cannot be seen');
						if ( wordcount < 25 ) {
							console.log('less than 25 visible');
						 	e.slideDown('slow').css("display","block");					 				 	
						} else { 
							console.log('more than 25');
						}	
					} else {
						console.log('i can be seen');
						
						
					}
				}
				
				// hide all comments
				function hideAllComments(){
					$(".comment").slideUp('slow').css("display","hidden");
					return false;
				}
				
				$("#hideAllComments").click(hideAllComments);
				
				// show all comments
				function showAllComments(){
					$(".comment").slideDown('slow').css("display","block");
					return false;
				}
				$("#showAllComments").click(showAllComments);
				
				
				// show first order comments
				function showFirstOrderComments(){
					// for first order comments:
					// <div class="firstComment comment">
					// for non-first order:
					// <div class="comment">
					$(".firstComment").slideDown('slow').css("display","block");

					return false;
				}
				
				$("#showFirstOrderComments").click(showFirstOrderComments);
				
				
				// hide long comments
				function hideShortComments(){
					$(".shortComment").slideUp('slow').css('display', 'hidden');
					return false;
				}
				
				$("#hideShortComments").click(hideShortComments);
				
				
				// show long comments
				function showShortComments(){
					$(".shortComment").slideDown('slow').css('display', 'block');
					return false;
				}
				
				$("#showShortComments").click(showShortComments);
				

				
				//ON COMMENT_LENGTH CLICK, 
				$('#short_comments').delegate("input:checkbox", "click", function(){		
					
					
				});
				
				//PAGE_ID JQUERY VARIABLE
				var myPage = <%= @paper.id.to_s %>;
				//DEPRECATION ISSUE - DEBUG LATER

				
				//ADD BUTTONS TO CONTRIBUTORS
				$('#contributors ul li').append('<img class="mute" src="/img/mute.png" /><img class="solo" src="/img/solo.png" />');
				
				//SOLO BUTTON FUNCTIONALITY
				//see mute button
				

				
				//MUTE BUTTON FUNCTIONALITY
				//DOES NOT CURRENTLY WORK
				//var contributors = $('#contributors ul li').text();
				//var contributors = $('#contributors .mute').parent().text(); 
				//alert(contributors);
				$('#contributors .solo').click(function(){
					var the_contributor = $(this).parent().text();
					console.log(the_contributor); 
					var cont_span = $('#thework span').attr('class');
					console.log(cont_span);
					var contributed = cont_span.attr('class');
					//var myArray = $(contributed.indexOf(the_contributor) != -1);
					//alert(myArray);
					//if (myArray == true){
					//	$(this).slideDown('slow').css("display","block");
					if (contributed.indexOf(the_contributor) != -1) {
						//alert('gotcha');
						//for each of these 
						$(this).slideDown('slow').css("display","block");
						//CONTRIBUTED IS THE CLASS NOT HTE SPAN SO IT WON'T WORK
						//alert('i made it!');
						//var contribution_seen = $(this).css('display');
						//if (contribution_seen == 'none') {
						//	contribution_seen.slideDown('slow').css("display","block");
						//	alert('finished');
						//} else {
							//$('.comment').slideUp('slow');
							//$('.comment').css("display","none");
					} else {
						//$(this).css("display","none"); 
					}
					//var solo_li = $(this).parent('id');
					//alert(solo_li);
					//change dislay to none .slide down where 
					//where ('#thework').attr("class") == the id of the #contributor ul li that contains this .solo...the parent id?
				});
				
				//SUBMIT COMMENT
				//IN COMMENT.ERB
				
				//COMMENT DEPTH
					$('#comment_depth li').delegate("input:radio", "click", function(){
					//console.log('here');
					var theClick = $(this);
					//var e1 = $("#"+this[0]);
					//var comments_seen1 = e1.css('display');
					
					var arr = [];
					 		//create the array
						$('#thework')
						.find('span')
						.each(function(){ arr.push(this.id); });
						
						//FOR EACH IN THE ARRAY
						$(arr).each(function(){
							var e1 = $("#"+this[0]);
							
							//var e1 = $(this);
							var comments_seen1 = e1.css('display');
							
							//IF THE CLICK'S VALUE IS 
							if ($(theClick).val() == 'comment_0') {
								//IF THIS COMMENTS BLOCK
								$(".comment").slideUp('slow').css("display","hidden");
							console.log ('No Comments!');
							} else if ($(theClick).val() == 'comment_1') {
								// for first order comments:
								// <div class="firstComment comment">
								// for non-first order:
								// <div class="comment">
								$(".firstComment").slideDown('slow').css("display","block");	//
								console.log ('First Comments!');
							} else if ($(theClick).val() == 'comment_all') {
								//IF THE COMMENT DISPLAY VALUE IS NONE
						
									//
									$(".comment").slideDown('slow').css("display","block");
								console.log ('All Comments!');
							}
						});
						
					});
					//return false;
				
			});
		</script>
		
		<link rel="stylesheet" type="text/css" href="/css/my.css" />
		
	</head>
	<body>
		<div id="container">
			<div id="login_work">
				<div id="login">
					<% if session["current_user"] %>
						[ <b><%= session["current_user"] %></b> ] - <a href="/login">Log Out</a>
					<% else %>
						<% unless @login %>
							<a href="/login">Log In!</a>
						<% end  %>
					<% end %>
				</div>
				<div class="clear"></div>
				<div id="thework">
					<%= yield %>
				</div>
			</div>
			<div id="sidebar">
				
				<div id="logo">
					<h1>EXEgist</h1>
				</div>
				<h3 align="center"><b>"so alpha it hurts"</b></h3>
				<div id="annotation">
					<a href="#">
						<p>Commenting is ON</p>
						<p id="alt" style="display:none">Commenting is OFF</p>
						</a>
				</div>
				<div id="comment_depth">
					<h3>Comment Depth</h3>
					<ul>
						<li><a href="#" id="hideAllComments">Hide all</a></li>
						<li><a href="#" id="showAllComments">Show all</a></li>
						<!-- <li><a href="#" id="showFirstOrderComments">Show only first</a></li> -->
						
					</ul>
				</div>
				<div id="comment_length">
					<h3>Comments Length</h3>
					<ul>
						<li><a href="#" id="hideShortComments">Hide short comments</a></li>
						<li><a href="#" id="showShortComments">Show short comments</a></li>
						
					</ul>
				</div>
				
				<!-- "Contributors" section currently nonfunctional.
								
								<div id="contributors">
									<h3>Contributors</h3>
									<ul>
										<%# if @paper %>
											<%# for commentname in @all_comments %>
												
													<li id="<%# commentname.user_id.to_s %>"><%# commentname.user_id.to_s %></li>
											<%# end %>
										<%# end%>
									</ul>
								</div>
								 -->
					<div class="clear"></div>
			</div> <!--END OF SIDEBAR-->
			<div class="clear"></div>
		</div><!--END OF CONTAINER-->
	</body>
</html>