<h2><%= @title %></h2>

<!-- <form action="/login" method="post" id="user">
	<p>
		<label>Username</label><br />
		<input type="text" name="username" id="username" />
	</p>
	<p>
		<label>Email</label><br />
		<input type="email" name="email" id="width" />
	</p>
	<p>
		<input type="submit">
	</p>
</form> -->
<div id="the_login">
	<form action="/login" method="post" id="user">
        <p><label for="username"><b>Username</b></label><br />(preferably your own)<br />
	<input type="text" name="username" id="username"></p>
        <p><input type="submit" value="LOG IN"></p>
	</form>
</div>
<h3>INSTRUCTIONS!  (read these before logging in!)</h3>
<p>
	The idea behind EXEgist is to provide an interface that encourages long-form, in-depth, position-specific text annotation, inspired by exegetic paradigms like the Talmud and old-school approaches to footnotes, but with the dynamic filtering and view controls afforded by the web browser.
</p>
<p>
	All comments are attached to specific sentences, including both sentences in the main body text and sentences within other comments.  Clicking a sentence reveals or hides the attached comments.  Blue asterisks indicate sentences with attached comments.
</p>
<p>
	The "Read Comments" link on the sidebar indicates that you are currently set to read, rather than add, comments.  To add comments, click the link - it should now say "Add Comments".  Now click any sentence and a comment entry field will open up below it.  Once your comment is submitted, toggle the sidebar link back to "Read Comments" and click the sentence again to reveal what you wrote.
</p>
<p>
	Short comments (~fewer than 25 words) are hidden by default.  To reveal them, click the "Show short comments" link in the sidebar.  The other sidebar controls do more or less what you would expect.
</p>
<p>
	We'd love to hear your feedback.  EXEgist is still in its earliest stages.  There are a number of features we haven't yet been able to implement, and we understand that not everything is running smoothly, but if there are any burning questions, problems, words of advice, or other remarks you'd like to share, do write us at <b>[ exegist {AT} gmail {DOT} com ]</b>.
</p>