<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<title>The Site</title>
		<link rel="stylesheet" type="text/css" href="/css/my.css" />
	</head>
	<body>
		<div id="container">
			<div id="login_work">
				<p>this is some text</p>
				<p>this is some more text</p>
			</div>
			<div id="sidebar">
				<p>this is some text</p>
				<p>this is some more text</p>
			</div> <!--END OF SIDEBAR-->
		
		</div><!--END OF CONTAINER-->
	</body>
</html>