<h2>Post a New Paper!</h2>
<form method="post" action="/papers/new" name="newpaper" id="newpaper">
	<label>Title</label><br />
	<input type="text" name="title" id="title" value=""><br />
	<label>Author</label><br />
	<input type="text" name="author" id="author" value=""><br />
	<label>Text</label><br />
	<textarea rows="20" cols="90" name="body" id="body" value=""></textarea><br />
	<input type="submit" id="commentPaper" value="Thank you." />
</form>