<h2>New Paper</h2>
<form method="post" action="/papers/new" name="newpaper" id="newpaper">
	<label>Paper</label><br />
	<textarea rows="20" cols="20" name="body" id="body" value=""></textarea><br />
	<input type="submit" id="commentPaper" value="Thank you." />
</form>