LOGGED IN AS <%= session["current_user"] %>

<% @paperArray.each_with_index do |sentence, index| %>
	<%= '<a href="#" class="sentence" name="' + @paper.id.to_s + '" title="Paper" id="' + index.to_s + '">' + sentence + "</a>" 
	%>
	<% asterisk_added = false %>
	<% for comment in @all_comments %>	
		<% if comment.sentence_id == index %>
			<% if !asterisk_added %>
				<a href="#" class="marker">*</a>
				<% asterisk_added = true %>
			<% end %>
			
			<%= partial(:comment, :locals => {:comment => comment}) %>

		<% end %>
	<% end %>	
		
	
<% end %>





<%#= @paper.id %>
