<h1><%= @title %></h1>

<form action="/newuser" method="post" id="user" enctype="multipart/form-data">
	<p>
		<label>Username</label><br />
		<input type="text" name="username" id="username" />
	</p>
	<p>
		<label>Email</label><br />
		<input type="email" name="email" id="width" />
	</p>
	<p>
		<label>Password</label><br />
		<input type="password" name="password" id="height" />
	</p>
	<p>
		<input type="submit">
	</p>
</form>