<h1><%= @title %></h1>


<form action="/newuser" method="post" id="user" enctype="multipart/form-data">
	<p>
<<<<<<< HEAD
		<label>Username:</label><br />
		<input type="text" name="username" id="username" />
	</p>
	<p>
		<label>Email Address:</label><br />
		<input type="email" name="email" id="email" />
	</p>
	<p>
		<label>Password:</label><br />
		<input type="text" name="password" id="password" />
	</p>
	<p>
		<label>Confirm Password:</label><br />
		<input type="text" name="password_confirmation" id="password_confirmation" />
=======
		<label>Username</label><br />
		<input type="text" name="username" id="username" />
	</p>
	<p>
		<label>Email</label><br />
		<input type="email" name="email" id="width" />
	</p>
	<p>
		<label>Password</label><br />
		<input type="password" name="password" id="height" />
>>>>>>> a9a319badf549b2c230d3d0b6889ede9e669dd37
	</p>

	<p>
		<input type="submit">
	</p>
</form>