<h1><%= @title %></h1>


<form action="/newuser" method="post" id="user" enctype="multipart/form-data">
	<p>
		<label>Username:</label><br />
		<input type="text" name="username" id="username" />
	</p>
	<p>
		<label>Email Address:</label><br />
		<input type="email" name="email" id="email" />
	</p>
	<p>
		<label>Password:</label><br />
		<input type="text" name="password" id="password" />
	</p>
	<p>
		<label>Confirm Password:</label><br />
		<input type="text" name="password_confirmation" id="password_confirmation" />
	</p>

	<p>
		<input type="submit">
	</p>
</form>