<h1>My Comment Test</h1>
<% for comment in @mycomments %>

	<h4><%= comment.paper_id %></h4>
	<p><%= comment.user_id %>....hm.</p>
	<p><%= comment.body %>.</p>
	<p><%= comment.parent_type %></p>
<% end %>